:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* Tamaño de letra */
    --paragraph: 1em;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

.contenido{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cuadro_qr{
    display: flex;
    align-items: center;
    height: 70%;
    width: 200px;
    background: var(--white);
    padding: 25px;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
}

/* imagen - parte cabecera */
.cuadro_header{
    height: 300px;
    width: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
}

.cuadro_header img{
    height: 230px;
    width: 230px;
    border-radius: 10px;
}

/* body - parte del cuerpo */
.cuadro_body{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 240px;
    width: 100%;
}

.cuadro_body p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: var(--paragraph);
    font-weight: 700;
    top: 10px;
}

/* footer -  parte del cuerpo*/
.cuadro_footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    width: 100%;
}

.cuadro_footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--grayish-blue);
    padding: 15px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    top: 500px;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}



/* - - - Media Querys - - - */
@media (min-width: 10px) and (max-width: 370px){
    .contenido{
        height: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cuadro_qr{
        top: 150px;
        display: flex;
        align-items: center;
        height: 190vh;
        width: 250px;
        background: var(--white);
        padding: 25px;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
    }

    .cuadro_body{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 40px;
        width: 100%;
        font-size: 0.7em;
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .cuadro_footer{
        margin-top: 60px;
        font-size: 0.5em;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        top: 700px;
        margin-top: 20px;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
    }
}

/* SM */
@media (min-width: 371px) and (max-width: 570px){
    .contenido{
        min-height: 120vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cuadro_qr{
        top: 350px;
        display: flex;
        align-items: center;
        height: 190vh;
        width: 250px;
        background: var(--white);
        padding: 25px;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
    }

    .cuadro_header{
        height: 400px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 10px;
    }

    .cuadro_header img{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }

    .cuadro_body{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 320px;
        margin-top: -20px;
        font-size: 1em;
        width: 100%;
    }
    
    .cuadro_body p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        top: 10px;
    }


    .cuadro_footer{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 480px;
        font-size: 0.8em;
        margin-top: 70px;
        width: 100%;
    }
    
    .cuadro_footer p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color: var(--grayish-blue);
        padding: 24px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 120px;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-self: baseline;
        font-size: 2.5em;
    }
}


/* MD */
@media screen and (max-width: 767px){
    .contenido{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cuadro_qr{
        top: 50vh;
        display: flex;
        align-items: center;
        min-height: 168vh;
        width: 40%;
        background: var(--white);
        padding: 25px;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
    }

    .cuadro_header{
        height: 400px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 10px;
    }

    .cuadro_header img{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }

    .cuadro_body{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 400px;
        width: 100%;
    }
    
    .cuadro_body p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;
        top: 10px;
    }


    .cuadro_footer{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 499px;
        width: 100%;
    }
    
    .cuadro_footer p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.4em;
        font-weight: 400;
        color: var(--grayish-blue);
        padding: 24px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        top: 200vh;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
    }
}


/* LG */ 
/* @media screen and (max-width: 992px){
    .contenido{
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cuadro_qr{
        top: 20vh;
        display: flex;
        align-items: center;
        min-height: 45vh;
        width: 40%;
        background: var(--white);
        padding: 25px;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
    }

    .cuadro_header{
        height: 400px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 10px;
    }

    .cuadro_header img{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }

    .cuadro_body{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 400px;
        width: 100%;
    }
    
    .cuadro_body p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;
        top: 10px;
    }


    .cuadro_footer{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 480px;
        width: 100%;
    }
    
    .cuadro_footer p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.6em;
        font-weight: 400;
        color: var(--grayish-blue);
        padding: 24px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        top: 80vh;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
    }
} */

@media screen and (max-width: 992px){}

@media screen and (max-width: 1200px){}

@media screen and (max-width: 1440px){}